<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Saved Tasks</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <h1>Saved Tasks</h1>
    <div id="saved-tasks-list">
        <!-- Tasks will be dynamically loaded here -->
    </div>
    <script src="/static/js/tensorflow.js"></script>
    <script src="/static/js/neat.js"></script>
    <script src="/static/js/task.js"></script>
    <script src="/static/js/user_interface.js"></script>
    <script>
        loadTasks();
    </script>
</body>
</html>